@model IEnumerable<WebApiKudvenkut.Models.Order>
    @{
        ViewBag.Title = "BillGenrator";
    }
    <h2>Bill Genrator</h2>
    <table class="table table-striped">
        <thead class="table-heading">
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Amt
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>
